{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    {% if title%}
    <title>Volunteerecruit - {{title}}</title>
    {% else %}
    <title>Volunteerecruit</title>
    {% endif %}
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-orange fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4 brandsize" href="{% url 'blog-home' %}">Volunteer Recruit</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'my-recruitments' %}">My Recruitments</a>
                        <a class="nav-item nav-link" href="{% url 'my-signups' %}">My Registrations</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                            {% if user.is_superuser or user.is_staff %}
                            <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin Site</a>
                            {% endif %}
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <main role="main" class="container bg-main">
        <div class="row">
            <div class="col-md">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
            {% if request.path == "/" %}
            <div class="col-md-5">
                <div class="content-section">
                    <h5 class = "text-muted"></h5>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Recruitments Near You</li>
                        <div id="map"></div>
                    </ul>
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
    </main>
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4 ft-orange">

        <!-- Footer Links -->
        <div class="footer-copyright text-center py-3">
            <a class="text-white" href="{% url 'blog-about' %}"> About</a>
        </div>

        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <p class="text-white">©2020 Copyright:
                <a href="https://volunteerecruit.herokuapp.com/"> volunteerecruit.com</a></p>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    



     
</body>

</html>