{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    {% if title%}
    <title>Volunteerecruit - {{title}}</title>
    {% else %}
    <title>Volunteerecruit</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-orange fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4 brandsize" href="{% url 'blog-home' %}">Volunteer Recruit</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'my-recruitments' %}">My Recruitments</a>
                        <a class="nav-item nav-link" href="{% url 'my-signups' %}">My Registrations</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                            {% if user.is_superuser or user.is_staff %}
                            <a class="nav-item nav-link" href="{% url 'admin:index' %}">Admin Site</a>
                            {% endif %}
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <main role="main" class="container bg-main">
        <div class="row">
            <div class="col-md">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
            {% if request.path == "/" %}
            <div class="col-md-5">
                <div class="content-section">
                    <h5 class = "text-muted"></h5>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Recruitments Near You</li>
                        <div id="map"></div>
                    </ul>
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
    </main>
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4 ft-orange">

        <!-- Footer Links -->
        <div class="footer-copyright text-center py-3">
            <a class="text-white" href="{% url 'blog-about' %}"> About</a>
        </div>

        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <p class="text-white">©2020 Copyright:
                <a href="https://volunteerecruit.herokuapp.com/"> volunteerecruit.com</a></p>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu7e8_oIw15iZa5921MvG941QYNEveB-g"></script>


     <script>
            function addYourLocationButton(map) {
            var controlDiv = document.createElement('div');

            var firstChild = document.createElement('button');
            firstChild.style.backgroundColor = '#fff';
            firstChild.style.border = 'none';
            firstChild.style.outline = 'none';
            firstChild.style.width = '28px';
            firstChild.style.height = '28px';
            firstChild.style.borderRadius = '2px';
            firstChild.style.boxShadow = '0 1px 4px rgba(0,0,0,0.3)';
            firstChild.style.cursor = 'pointer';
            firstChild.style.marginRight = '10px';
            firstChild.style.padding = '0px';
            firstChild.title = 'Your Location';
            controlDiv.appendChild(firstChild);

            var secondChild = document.createElement('div');
            secondChild.style.margin = '5px';
            secondChild.style.width = '18px';
            secondChild.style.height = '18px';
            secondChild.style.backgroundImage = 'url(https://maps.gstatic.com/tactile/mylocation/mylocation-sprite-1x.png)';
            secondChild.style.backgroundSize = '180px 18px';
            secondChild.style.backgroundPosition = '0px 0px';
            secondChild.style.backgroundRepeat = 'no-repeat';
            secondChild.id = 'you_location_img';
            firstChild.appendChild(secondChild);

            google.maps.event.addListener(map, 'dragend', function () {
                $('#you_location_img').css('background-position', '0px 0px');
            });

            firstChild.addEventListener('click', function () {
                var imgX = '0';
                var animationInterval = setInterval(function () {
                    if (imgX == '-18') imgX = '0';
                    else imgX = '-18';
                    $('#you_location_img').css('background-position', imgX + 'px 0px');
                }, 500);
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                        //marker.setPosition(latlng);
                        map.setCenter(latlng);
                        clearInterval(animationInterval);
                        $('#you_location_img').css('background-position', '-144px 0px');
                    });
                }
                else {
                    clearInterval(animationInterval);
                    $('#you_location_img').css('background-position', '0px 0px');
                }
            });

            controlDiv.index = 1;
            map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(controlDiv);
        }


        function initMap() {
            var map = new google.maps.Map(
                document.getElementById('map'),
                {
                    zoom: 12,
                    center: { lat: 33.6846, lng: -117.8265 },
                    disableDefaultUI: true
                }
            );
            all_post = JSON.parse({{ post | safe }})
            var marker;
            var infowindow = new google.maps.InfoWindow();

            for (var i = 0; i < all_post.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(all_post[i]["fields"]["latitude"], all_post[i]["fields"]["longitude"]),
                    map: map
                });
                 (function(marker, i) {
                    // add click event
                    google.maps.event.addListener(marker, 'click', function() {
                        infowindow = new google.maps.InfoWindow({
                            content: "<h4 class='text-muted'><a href='/post/"+  all_post[i]["pk"] + "/'>"
                                            +all_post[i]["fields"]["title"]+"</a></h4>"
                                    +"<p>"+all_post[i]["fields"]["content"].substring(0,60)+"</p>"
                        });
                        infowindow.open(map, marker);
                    });
                })(marker, i);
            }
            var i = 0;


            addYourLocationButton(map);

        }

        $(document).ready(function () {
            if( "{{request.path}}" === "/" ){
                    initMap()
            }
        });


    </script>
</body>

</html>