{% extends "blog/base.html" %}
{{ form.media }} <!-- needed for JS/GoogleMaps lookup -->
{% load crispy_forms_tags %}
{% block content %}
    <div class = "content-section col-width">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom">
                    Recruitment
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" type="submit">Post Recruitment!</button>
            </div>
        </form>
    </div>
{% endblock content %}