{% extends "blog/base.html" %}
{% block content %}
<div class="card mb-4 col-width">
    <div class="card-body">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
        <div>
            <br>
            <a class="btn btn-secondary btn-sm mt-1 mt-2" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mt-2" href="{% url 'post-delete' object.id %}">Delete</a>
        </div>
        {% endif %}
        <legend class="border-bottom mt-3"></legend>
        <h2 class="card-title">{{object.title}}</h2>
        <p class="card-text">{{ object.content}}</p>
        {% if post.thumbnail %}
        <legend class="border-bottom mt-3"></legend>
        <img class="card-img-top" src="{{ post.thumbnail.url }}" alt="Card image cap">
        {% endif %}
        <div class="row">
            <div class="col">
                <div class="content-section">
                    <h5 class="card-title">Contact Info: </h5>
                    <p class="card-text">{{ object.author.first_name}} {{ object.author.last_name}}</p>
                    <p class="card-text">{{ object.organization}}</p>
                    <p class="card-text">{{ object.phone}}</p>
                    <p class="card-text">{{ object.email}}</p>
                </div>
            </div>
            <div class="col">
                <div class="content-section">
                    <h5 class="card-title">Service Location: </h5>
                    {% if object.address %}
                    <p class="card-text">{{ object.address}}</p>
                    {% endif %}
                    {% if object.city %}
                    <p class="card-text">{{ object.city}}</p>
                    {% endif %}
                    {% if object.state %}
                    <p class="card-text">{{ object.state}}</p>
                    {% endif %}
                    {% if object.zip %}
                    <p class="card-text">{{ object.zip}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% if object.attachment %}
<legend class="border-bottom mt-3"></legend>
<p class="ml-3">Attachment: <a href="{{ object.attachment.url }}">{{object.attachment}}</a></p>
{% endif %}
</div>


{% endblock content %}
<!---

  <article class="media content-section">
      <img class = "rounded-circle article-img" src="{{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
            <div>
                <a class = "btn btn-secondary btn-sm mt-1 mt-2" href="{% url 'post-update' object.id %}" >Update</a>
                <a class = "btn btn-danger btn-sm mt-1 mt-2" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        {% if object.attachment %}
              <p>Attachment: <a href="{{ object.attachment.url }}">{{object.attachment}}</a></p>
        {% endif %}

      </div>
    </article>
--->