{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row" id = "gc_target">
                    
                </div>
                <legend class="border-bottom mt-3"></legend>
                <h2 class="card-title">{{object.title}}</h2>
                <p class="card-text">{{ object.content}}</p>
                {% if post.thumbnail %}
                <legend class="border-bottom mt-3"></legend>
                <img class="card-img-top" src="{{ post.thumbnail.url }}" alt="Card image cap">
                {% endif %}
                <legend class="border-bottom mt-3"></legend>
                <div  style="text-align:center;">
                    {% if object.author == user %}
                        <a class="btn btn-secondary" href="{% url 'post-update' object.id %}">Update</a>
                        <a class="btn btn-danger" href="{% url 'post-delete' object.id %}">Delete</a>
                    {% else %}
                        <a class="btn btn-success" href="{% url 'new-signup' post.id %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col">
                <div class="content-section">
                    <h5 class="card-title">Service Time</h5>
                    <p class="card-text">Start: {{ object.start_time}}</p>
                    <p class="card-text">End: {{ object.end_time}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="content-section">
                    <h5 class="card-title">Contact Info: </h5>
                    <p class="card-text">{{ object.author.first_name}} {{ object.author.last_name}}</p>
                    <p class="card-text">{{ object.organization}}</p>
                    <p class="card-text">{{ object.phone}}</p>
                    <p class="card-text">{{ object.email}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="content-section">
                    <h5 class="card-title">Service Location: </h5>
                    {% if object.address %}
                        <p class="card-text">{{ object.address}}</p>
                    {% endif %}
                    {% if object.city %}
                        <p class="card-text">{{ object.city}}</p>
                    {% endif %}
                    {% if object.state %}
                        <p class="card-text">{{ object.state}}</p>
                    {% endif %}
                    {% if object.zip %}
                        <p class="card-text">{{ object.zip}}</p>
                    {% endif %}
                </div>
            </div>

        </div>
        {% if object.attachment %}
        <legend class="border-bottom mt-3"></legend>
        <p class="ml-3">Attachment: <a href="{{ object.attachment.url }}">{{object.attachment}}</a></p>
        {% endif %}
    </div>
    {% if object.author == user %}
    <div class="col-md-3">
        <div class="row">
            <div class="col">
                <h5 class="card-title">Registered Volunteers</h5>
                {% for signup in signups %}
                    <div class="content-section">
                        <p>{{signup.firstname}} {{signup.lastname}}</p>
                        <p>{{signup.email}}</p>
                        {% if signup.phone %}
                            {{signup.phone}}
                        {% endif %}
                        {% if signup.message %}
                        <legend class="border-bottom mt-3"></legend>
                        <p>Message: {{ signup.message}}</p>
                        {% endif %}
                    </div>
                {% empty %}
                    <p>No one registered yet...</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
<script>
    dj_sdate = "{{object.start_time}}"
    dj_edate = "{{object.end_time}}"
    var city = "{{object.city}}".split(" ")[0]
    var gclk = "https://calendar.google.com/calendar/u/0/r/eventedit?text={{object.title}}&dates=" 
    + convertTime(dj_sdate) 
    + "/" + convertTime(dj_edate) 
    +"&details=For more details click: " + window.location.href
    +"&location={{object.address}}+{{object.city}}+{{object.state}}+{{object.zip}}"

    gclk = gclk.replace(/\s/g, '+')
    console.log(gclk)
    document.getElementById("gc_target").innerHTML = ` <div class="col-sm">
                        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                    </div>        
    <div class="col-sm">
                                                            <div  style="text-align:right;">
                                                                <a class="btn btn-primary" href = `+ gclk +`>Add to calendar</a>
                                                            </div>
                                                        </div>`
    function convertTime(time){
        try{
            var output = "";
            var months = [ "Jan.", "Feb.", "Mar.", "Apr.", "May.", "Jun.", "Jul.", "Aug.", "Sept.", "Oct.", "Nov.", "Dec." ];
            time = time.split(" ");
            console.log(time)
            var outMonth = (months.indexOf(time[0])+1).toString()
            var outDay = time[1].replace(",","")
            var outTime = time[3].replace(":","")
            if(outMonth.length == 1){
                outMonth = "0"+outMonth;
            }
            if(outDay.length == 1){
                outDay = "0"+outDay;
            }
            if(time[4].includes("p")){
                outTime = parseInt(outTime)+1200
            }
            output += time[2].replace(",","")+outMonth+outDay+"T"+outTime
            console.log(output)
            return output;
        }catch(err){
            return ""
        }
        
    }
</script>
{% endblock content %}
