{% extends "blog/base.html" %}
{% load static %}

{% block content %}
     <div class = "alert alert-warning">
        Demo site for Volunteer Recruit
    </div>
    <form class="form-inline mb-3" method="GET" action="" >

        <input class="form-control mr-sm-2" id = "searchbar" type="search" name="search" placeholder="Search recruitment...">
        <button class="btn btn btn-outline-info my-2 my-sm-0" type="submit"> Search </button>
    </form>
    {% for post in all_search_results %}

      <div class="card mb-4 homecard">
        {% if post.thumbnail %}
          <div class="">
          <img class="card-img-top" style="height:200px;object-fit: cover;" src="{{ post.thumbnail.url }}" alt="Card image cap">
          </div>
        {% endif %}
          <div class="card-body">
              <h2 class="card-title">{{post.title}}</h2>
            <h2 id = "debugger"></h2>
            <p class="card-text">{{ post.content|truncatewords:20 }}</p>
            <a href="{% url 'post-detail' post.id %}" class="btn btn-secondary bg-orange">More Info→</a>
          </div>
        </div>

    {% empty %}
        <h2>No recruitment found</h2>
    {% endfor %}
  {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class = "btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class = "btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                <a class = "btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

         {% if page_obj.has_next %}
                <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
         {% endif %}
    {% endif %}
    <script type="text/javascript">
        document.getElementById('searchbar').value = "{{request.GET.search}}"
        //document.getElementById('debugger').innerHTML = "{{ all_search_results }}"
    </script>
    <script>
      function addYourLocationButton(map) {
      var controlDiv = document.createElement('div');

      var firstChild = document.createElement('button');
      firstChild.style.backgroundColor = '#fff';
      firstChild.style.border = 'none';
      firstChild.style.outline = 'none';
      firstChild.style.width = '28px';
      firstChild.style.height = '28px';
      firstChild.style.borderRadius = '2px';
      firstChild.style.boxShadow = '0 1px 4px rgba(0,0,0,0.3)';
      firstChild.style.cursor = 'pointer';
      firstChild.style.marginRight = '10px';
      firstChild.style.padding = '0px';
      firstChild.title = 'Your Location';
      controlDiv.appendChild(firstChild);

      var secondChild = document.createElement('div');
      secondChild.style.margin = '5px';
      secondChild.style.width = '18px';
      secondChild.style.height = '18px';
      secondChild.style.backgroundImage = 'url(https://maps.gstatic.com/tactile/mylocation/mylocation-sprite-1x.png)';
      secondChild.style.backgroundSize = '180px 18px';
      secondChild.style.backgroundPosition = '0px 0px';
      secondChild.style.backgroundRepeat = 'no-repeat';
      secondChild.id = 'you_location_img';
      firstChild.appendChild(secondChild);

      google.maps.event.addListener(map, 'dragend', function () {
          $('#you_location_img').css('background-position', '0px 0px');
      });

      firstChild.addEventListener('click', function () {
          var imgX = '0';
          var animationInterval = setInterval(function () {
              if (imgX == '-18') imgX = '0';
              else imgX = '-18';
              $('#you_location_img').css('background-position', imgX + 'px 0px');
          }, 500);
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function (position) {
                  var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                  //marker.setPosition(latlng);
                  map.setCenter(latlng);
                  clearInterval(animationInterval);
                  $('#you_location_img').css('background-position', '-144px 0px');
              });
          }
          else {
              clearInterval(animationInterval);
              $('#you_location_img').css('background-position', '0px 0px');
          }
      });

      controlDiv.index = 1;
      map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(controlDiv);
  }


  function initMap() {
      var map = new google.maps.Map(
          document.getElementById('map'),
          {
              zoom: 12,
              center: { lat: 33.6846, lng: -117.8265 },
              disableDefaultUI: true
          }
      );
      all_post = JSON.parse({{ post | safe }})
      var marker;
      var infowindow = new google.maps.InfoWindow();

      for (var i = 0; i < all_post.length; i++) {
          marker = new google.maps.Marker({
              position: new google.maps.LatLng(all_post[i]["fields"]["latitude"], all_post[i]["fields"]["longitude"]),
              map: map
          });
           (function(marker, i) {
              // add click event
              google.maps.event.addListener(marker, 'click', function() {
                  infowindow = new google.maps.InfoWindow({
                      content: "<h4 class='text-muted'><a href='/post/"+  all_post[i]["pk"] + "/'>"
                                      +all_post[i]["fields"]["title"]+"</a></h4>"
                              +"<p>"+all_post[i]["fields"]["content"].substring(0,60)+"</p>"
                  });
                  infowindow.open(map, marker);
              });
          })(marker, i);
      }
      var i = 0;


      addYourLocationButton(map);

  }

  $(document).ready(function () {
      if( "{{request.path}}" === "/" ){
              initMap()
      }
  });


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu7e8_oIw15iZa5921MvG941QYNEveB-g"></script>

{% endblock %}