{% extends "blog/base.html" %}
{% block content %}
     <div class="media">
       <img class="rounded-circle account-img" src={{ profile_image_url }}>
       <div class="media-body">
         <h2 class="account-heading">{{ view.kwargs.username }}</h2>
           <h4 class = "text-secondary">{{ first_name }} {{ last_name }}</h4>
         <p class="text-secondary">{{ email }}</p>
       </div>
     </div>
    <br>
    <h3 class="mb-3">Post ({{ page_obj.paginator.count }})</h3>
    {% for post in posts %}
        <div class="card mb-4">
        {% if post.thumbnail %}
          <div class="">
          <img class="card-img-top" style="height:200px;object-fit: cover;" src="{{ post.thumbnail.url }}" alt="Card image cap">
          </div>
        {% endif %}
          <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{ post.content|truncatewords:20 }}</p>
            <a href="{% url 'post-detail' post.id %}" class="btn btn-primary">Read More →</a>
          </div>
            <div class="card-footer text-muted">
            {{ post.date_posted|date:"F d, Y" }}
          </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class = "btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class = "btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                <a class = "btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

         {% if page_obj.has_next %}
                <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
         {% endif %}
    {% endif %}
{% endblock content %}