{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section col-width">
    <legend class="border-bottom mt-2">
         <div class="row  mb-2">
            <div class="col-7 ml-3">
               My Sign Ups ({{page_obj.paginator.count}})
            </div>
        </div>
    </legend>
    {% for signup in page_obj %}
    <div class="card mb-4">
        <div class="card-body">
            <h3>Sign up for: <a href="{% url 'post-detail' signup.post.id %}">{{signup.post.title}}</a></h3>
            <p class="card-title">Name: {{signup.firstname}} {{signup.lastname}}</p>
            <p class="card-title">Email: {{signup.email}}</p>
            <p class="card-title">Phone: {{signup.phone}}</p>
            {% if signup.message %}
                <p class="card-title">Your message: {{signup.message}}</p>
            {% endif %}
        </div>
    </div>

    {% endfor %}
    {% if page_obj.paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
            <a class = "btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class = "btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                <a class = "btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

         {% if page_obj.has_next %}
                <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
         {% endif %}
    {% endif %}
</div>

{% endblock content %}