<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <p>You're receiving this email because someone has registered for one of your volunteer request at <a href="volunteerecruit.herokuapp.com">volunteerecruit.herokuapp.com</a></p>
    <p>You can also view the relevant information at your recruitment page</p>
    <p>Below are the information for your convenience</p>
    <h4>View the sign up at: <a href="volunteerecruit.herokuapp.com{% url 'post-detail' post_obj.pk %}">{{post_obj.title}}</a></h4>
    <p><strong>The sign up information:</strong></p>
    <p>{{form_info.firstname}} {{form_info.lastname}}</p>
    <p>{{form_info.phone}}</p>
    <p>{{form_info.email}}</p>
    <p>Message to you: {{form_info.message}}</p>
    <br>
    <p>Thanks for using our site!</p>
    <p>The <a href="volunteerecruit.herokuapp.com">volunteerecruit.herokuapp.com</a> team</p>
</body>
</html>