{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{{ form.media }}

{% block content %}
    <div class = "content-section col-width">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class = "border-bottom">
                   New Signup for "{{post_obj.title}}"
                </legend>
                {{ form|crispy }}
                <div id = "datetimeselector"></div>
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" type="submit">Signup</button>
            </div>
        </form>
    </div>
{% endblock content %}